.topCategories{
    margin: 0 70px;
    h2{
        @include styleText($color-black-0, $fs-3, $fw-bold-1);
    }
    .category__item{
        padding: $pd-2 $pd-2;
        margin: $mg-1 $mg-1;
        // border: 1px solid $color-black-0;
        box-shadow: 0 1px 3px $color-gray-2;
        transition: .3s;
        &:hover{
            box-shadow: 0 1px 10px $color-gray-2;
            transition: .3s;
        }
        i{
            @include styleText($color-black-0, $fs-4 - 8, $fw-bold);
            padding-right: $pd-1;
        }
    }
}